# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea/$CACHE_FILE$
.idea/codeStyles
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/modules
.idea/sbt.xml
.idea/workspace.xml
.idea
